@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans Italic";
  src: url("../fonts/NotoSans-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "NotoSans Mono";
  src: url("../fonts/NotoSansMono.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  font-family: "NotoSans";
  font-size: 16px;
}
