button {
  padding: 0;
}

.Root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
}

.Section {
  border: solid 2px #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 0px;

  &_Header {
    width: 100%;
    border: none;
    font-family: "NotoSans Mono";
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f4f4f4;
    color: #171717;
  }
}

.sectionItem {
  border: solid 2px #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.iconContainer {
  width: 38px;
  height: 38px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.trigger {
  width: 100%;
  border: none;
  font-family: "NotoSans Mono";
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f4f4f4;
  color: #171717;
}
.headerContentArea {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
}

.itemHeader {
  width: 100%;

  &_title {
    text-align: start;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.itemContent {
  margin: 0.5rem;
}

.arrowContainer {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
