@use "../../styles/base.scss" as *;

.field {
  position: relative;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;

  &_input {
    outline: 0px;
    border: 2px solid $secondary;
    font-size: 1rem;
    padding: 0.75rem 0.75rem;
    background-color: transparent;
  }

  &_input::placeholder {
    color: $secondary;
    font-size: 1rem;
  }

  &_label {
    position: absolute;
    font-size: 0.9rem;
    padding: 0px 4px;
    top: 0%;
    left: 0%;
    transform: translate(0.75rem, -0.5rem);
    background-color: white;
  }

  &_helper {
    font-size: 0.9rem;
    text-transform: lowercase;
  }
}
